@tailwind base;
@tailwind components;

.hyphens-text {
  hyphens: auto;
}
@responsive {
  .padding-image-lg {
    padding-top: 60%;
  }
  .padding-image-sm {
    padding-top: 50%;
  }
}
@tailwind utilities;
